<div class="ui page grid">
  <div class="column">
    <div class="ui teal segment">

			<div class="ui basic right aligned segment">
				<span ng-hide="$root.isLogin">請先 <a href="http://{{$root.host}}/login" target="_self" class="ui button">登入</a>再發表文章</span>
				<button ng-show="$root.isLogin" class="ui teal labeled icon button" ng-click="newPost()"><i class="icon edit"></i><%= __('Post_issue') %></button>
			</div>

			<div class="ui relaxed divided items post-item">
			  <div class="item" ng-repeat = "post in posts" ng-click="select(post.issue_id)">
					<div class="ui small image">
					  <img src="img/category-0{{post.postCategory_id}}.png">
					</div>
					<div class="content">
					  <p class="header" id="title" ng-bind="post.title"></p>
					  <div class="meta">
					  </div>
					  <pre class="description" ng-bind="post.content">
					  </pre>
					  <div class="extra">
					    <img class="ui medium circular image" ng-hide="post.Member.photo" src="img/user.png" class="img-responsive" alt="Responsive image">
							<!-- <img ng-show="post.Member.photo" ng-src="{{post.Member.photo}}" class="ui medium circular image" class="img-responsive" alt="Responsive image"> -->
							<div ng-show="post.Member.photo" ng-style="{'background-image':'url('+post.Member.photo+')'}" class="author-profile-img bg-img">
							</div>
					    <span id="author" ng-bind="post.Member.name"></span>｜<span id="createdAt" ng-bind="time(post.createdAt)"></span>｜<i class="comment icon"></i><span id="comment" ng-bind="post.Comments.length"></span>
					  </div>
					</div>
				</div>
			</div>

    </div>
  </div>
</div>
