<div class="container">
    <form action="">
    <h4><%= __('Title') %></h4><input class="form-control" type="text" ng-model="title">
    <br>
    <h4><%= __('Content') %></h4><textarea class="form-control" type="text"  ng-model="content" rows="10"></textarea>
    <br>
    <button class="btn btn-success pull-right" ng-click="submitPost()"><%= __('Submit') %></button>
    </form>

</div>