<style>
.form-control {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
    background: transparent;
 }
 .form-control.ng-invalid {
    background: rgb(244, 134, 134);;
 }

</style>
<div class="container" ng-init="init()">
<div class="ui page grid stackable two column">
	<div class="two wide column">
		<div class="ui icon header">
		  <div class="col-md-2" style="margin-top:20px">
				<img class="ui medium circular image" ng-hide="user.photo" src="img/user.png" class="img-responsive" alt="Responsive image">
				<div ng-show="user.photo" ng-style="{'background-image':'url('+user.photo+')'}" class="ui medium circular profile-img bg-img">
				</div>
			</div>
		  <div class="content member-info">
		    <span ng-bind="user.name"></span>
		    <div class="sub header">
		    	<span ng-bind="user.gender"></span>
		    </div>
		    <div class="ui divider"></div>
		    
		  </div>
		</div>
	</div>
  <div class="fourteen wide column">
    <div class="ui teal segment">

			<div class="ui basic segment">
				<h3 class="ui dividing header" >Profile</h3>
    		<pre class="segment" ng-bind="post.content"></pre>
				
				<div class="ui basic right aligned segment">
	    		<button class="ui primary button" ng-click="edit=true" ng-hide="edit||id!=$root.user_id" >修改資料</button>
                    <button class="ui primary button" ng-click="modifysubmit()" ng-show="edit">送出</button>
                    <button class="ui button" ng-click="cancelsubmit()" ng-show="edit">取消</button>	
		   	</div>
    	</div>

			<div class="ui grid">
	  		<div class="right floated ui fourteen wide column comments">
				  

				  <div ng-hide="edit" >
					<div class="ui stackable four column grid">
						<div class="column">
							<div class="ui list">
							<div class="item">		
							<div class="content">
							<div class="header">學歷</div>
								<div class="list">
								<div class="item">
									<i class="top aligned right triangle icon"></i>
								<div class="content">
									<div class="header">Department</div>
									<div class="description">
										<span ng-show="!user.Education.dept">尚未填寫</span>
										<span ng-show="user.Education.dept">{{user.Education.dept}}</span>
									</div>
								</div>
								</div>

								<div class="item">
									<i class="top aligned right triangle icon"></i>
								<div class="content">
									<div class="header">Degree</div>
									<div class="description">
										<span ng-show="!user.Education.degree">尚未填寫</span>
										<span ng-show="user.Education.degree">{{user.Education.degree}}</span>
									</div>
								</div>
								</div>
								
								<div class="item">
									<i class="top aligned right triangle icon"></i>
								<div class="content">
									<div class="header">Stuid</div>
									<div class="description">
										<span ng-show="!user.Education.stuid">尚未填寫</span>
										<span ng-show="user.Education.stuid">{{user.Education.stuid}}</span>
									</div>
								</div>
								</div>
								
								<div class="item">
									<i class="top aligned right triangle icon"></i>
								<div class="content">
									<div class="header">Institute</div>
									<div class="description">
										<span ng-show="!user.Education.institute">尚未填寫</span>
										<span ng-show="user.Education.institute">{{user.Education.institute}}</span>
									</div>
								</div>
								</div>
								
								<div class="item">
								  <i class="top aligned right triangle icon"></i>
								  <div class="content">
									<div class="header">Start Date</div>
									<div class="description">
									<span ng-show="!user.Education.startdate">尚未填寫</span>
									<span ng-show="user.Education.startdate">{{user.Education.startdate}}</span>
									</div>
								</div>
								</div>
								
								<div class="item">
								  <i class="top aligned right triangle icon"></i>
								  <div class="content">
									<div class="header">End Date</div>
									<div class="description">
									<span ng-show="!user.Education.enddate">尚未填寫</span>
									<span ng-show="user.Education.enddate">{{user.Education.enddate}}</span>
									</div>
								</div>
								</div>
					</div>
					</div>
					</div>
					</div>
					</div>
	
						<div class="column" ng-repeat="item in user.Experiences">
						<div class="ui list">
								<div class="item">
								
								<div class="content">
								  <div class="header">經歷</div>
								  <div class="list">

									<div class="item">
									  <i class="top aligned right triangle icon"></i>
									  <div class="content">
										<div class="header">Organization</div>
										<div class="description">
											<span ng-show="!item.org">尚未填寫</span>
											<span ng-show="item.org">{{item.org}}</span>
										</div>
									  </div>
									</div>
				
				
								<div class="item">
								  <i class="top aligned right triangle icon"></i>
								  <div class="content">
									<div class="header">Department</div>
									<div class="description">
									<span ng-show="!item.dept">尚未填寫</span>
									<span ng-show="item.dept">{{item.dept}}</span>
									</div>
								  </div>
								</div>
												
								<div class="item">
								  <i class="top aligned right triangle icon"></i>
								  <div class="content">
									<div class="header">Position</div>
									<div class="description">
									<span ng-show="!item.position">尚未填寫</span>
									<span ng-show="item.position">{{item.position}}</span>
									</div>
								  </div>
								</div>
								
								<div class="item">
								  <i class="top aligned right triangle icon"></i>
								  <div class="content">
									<div class="header">Description</div>
									<div class="description">
									<span ng-show="!item.description">尚未填寫</span>
									<span ng-show="item.description">{{item.description}}</span>
									</div>
								  </div>
								</div>
								
								<div class="item">
								  <i class="top aligned right triangle icon"></i>
								  <div class="content">
									<div class="header">Start Date</div>
									<div class="description">
									<span ng-show="!item.startdate">尚未填寫</span>
									<span ng-show="item.startdate">{{item.startdate}}</span>
									</div>
								  </div>
								</div>
								
								<div class="item">
								  <i class="top aligned right triangle icon"></i>
								  <div class="content">
									<div class="header">End Date</div>
									<div class="description">
									<span ng-show="!item.enddate">尚未填寫</span>
									<span ng-show="item.enddate">{{item.enddate}}</span>
									</div>
								  </div>
								</div>
			  </div>
			</div>
		  </div>			
	</div>
	</div>
    <div class="column">
	<div class="ui list">
				<div class="item">
				
				<div class="content">
				  <div class="header">聯絡方式</div>
				  <div class="list">
					<div class="item">
					  <i class="top aligned right triangle icon"></i>
					  <div class="content">
						<div class="header">Email</div>
						<div class="description">
							<span ng-show="!user.Contact.email">尚未填寫</span>
							<span ng-show="user.Contact.email">{{user.Contact.email}}</span>
						</div>
					  </div>
					</div>
					
					
					<div class="item">
					  <i class="top aligned right triangle icon"></i>
					  <div class="content">
						<div class="header">Address</div>
						<div class="description">
						<span ng-show="!user.Contact.address">尚未填寫</span>
						<span ng-show="user.Contact.address">{{user.Contact.address}}</span>
						</div>
					  </div>
					</div>
					<div class="item">
					  <i class="top aligned right triangle icon"></i>
					  <div class="content">
						<div class="header">Phone number(Home)</div>
						<div class="description">
						<span ng-show="!user.Contact.phone_home">尚未填寫</span>
						<span ng-show="user.Contact.phone_home">{{user.Contact.phone_home}}</span>
						</div>
					  </div>
					</div>
					<div class="item">
					  <i class="top aligned right triangle icon"></i>
					  <div class="content">
						<div class="header">Phone number(Mobile)</div>
						<div class="description">
						<span ng-show="!user.Contact.phone_mobile">尚未填寫</span>
						<span ng-show="user.Contact.phone_mobile">{{user.Contact.phone_mobile}}</span>
						</div>
					  </div>
					</div>
					<div class="item">
					  <i class="top aligned right triangle icon"></i>
					  <div class="content">
						<div class="header">Phone number(Work)</div>
						<div class="description">
						<span ng-show="!user.Contact.phone_work">尚未填寫</span>
						<span ng-show="user.Contact.phone_work">{{user.Contact.phone_work}}</span>
						</div>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
	</div>
	</div>
  
  </div>

</div>
</div>




<div ng-show="edit" >
<div class="ui stackable four column grid">
    <div class="column">
	<div class="ui list">
				 <div class="item">
			
			<div class="content">
			  <div class="header">學歷</div>
			  <div class="list">
				<div class="item">
				  <i class="top aligned right triangle icon"></i>
				  <div class="content">
					<div class="header">Department</div>
					<div class="description">
						<input type="text" class="form-control" ng-model="editdata.Education.dept">
					</div>
				  </div>
				</div>
				
				
				<div class="item">
				  <i class="top aligned right triangle icon"></i>
				  <div class="content">
					<div class="header">Degree</div>
					<div class="description">
					<input type="text" class="form-control"  ng-model="editdata.Education.degree" placeholder="1">
					</div>
				  </div>
				</div>
				<div class="item">
				  <i class="top aligned right triangle icon"></i>
				  <div class="content">
					<div class="header">Stuid</div>
					<div class="description">
					<input type="text" class="form-control" ng-model="editdata.Education.stuid" placeholder="b00705031">
					</div>
				  </div>
				</div>
				<div class="item">
				  <i class="top aligned right triangle icon"></i>
				  <div class="content">
					<div class="header">Institute</div>
					<div class="description">
					<input type="text" class="form-control" ng-model="editdata.Education.institute">
					</div>
				  </div>
				</div>
				<div class="item">
				  <i class="top aligned right triangle icon"></i>
				  <div class="content">
					<div class="header">Start Date</div>
					<div class="description">
					<input type="text" class="form-control" ng-model="editdata.Education.startdate" placeholder="yyyy-mm">
					</div>
				  </div>
				</div>
				<div class="item">
				  <i class="top aligned right triangle icon"></i>
				  <div class="content">
					<div class="header">End Date</div>
					<div class="description">
					<input type="text" class="form-control" ng-model="editdata.Education.enddate" placeholder="yyyy-mm">
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
	</div>
	</div>
	 <button class="ui blue button" ng-click="addnewExp()">增加經歷</button>
    <div class="column" ng-repeat="item in editdata.Experiences">
	<div class="ui list">
			<div class="item">
		
			<div class="content">
			  <div class="header">經歷</div>
			  <div class="list">

				<div class="item">
				  <i class="top aligned right triangle icon"></i>
				  <div class="content">
					<div class="header">Organization</div>
					<div class="description">
						<input type="text" class="form-control" ng-model="item.org">
					</div>
				  </div>
				</div>
				
				
				<div class="item">
				  <i class="top aligned right triangle icon"></i>
				  <div class="content">
					<div class="header">Department</div>
					<div class="description">
					<input type="text" class="form-control" ng-model="item.dept">
					</div>
				  </div>
				</div>
				<div class="item">
				  <i class="top aligned right triangle icon"></i>
				  <div class="content">
					<div class="header">Position</div>
					<div class="description">
					<input type="text" class="form-control" ng-model="item.position">
					</div>
				  </div>
				</div>
				<div class="item">
				  <i class="top aligned right triangle icon"></i>
				  <div class="content">
					<div class="header">Description</div>
					<div class="description">
					<input type="text" class="form-control" ng-model="item.description">
					</div>
				  </div>
				</div>
				<div class="item">
				  <i class="top aligned right triangle icon"></i>
				  <div class="content">
					<div class="header">Start Date</div>
					<div class="description">
					<input type="text" class="form-control" ng-model="item.startdate" placeholder="yyyy-mm">
					</div>
				  </div>
				</div>
				<div class="item">
				  <i class="top aligned right triangle icon"></i>
				  <div class="content">
					<div class="header">End Date</div>
					<div class="description">
					<!-- <input type="text"  date-time  ng-model="item.enddate" min-view="date"> -->
					<input type="text" class="form-control" ng-model="item.enddate" placeholder="yyyy-mm">
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>			
	</div>
	</div>
    <div class="column">
	<div class="ui list">
				<div class="item">
		
				<div class="content">
				  <div class="header">聯絡方式</div>
				  <div class="list">
					<div class="item">
					  <i class="top aligned right triangle icon"></i>
					  <div class="content">
						<div class="header">Email</div>
						<div class="description">
							<input type="text" class="form-control" ng-model="editdata.Contact.email" placeholder="im@im.com">
						</div>
					  </div>
					</div>
					
					
					<div class="item">
					  <i class="top aligned right triangle icon"></i>
					  <div class="content">
						<div class="header">Address</div>
						<div class="description">
						<input type="text" class="form-control" ng-model="editdata.Contact.address">
						</div>
					  </div>
					</div>
					<div class="item">
					  <i class="top aligned right triangle icon"></i>
					  <div class="content">
						<div class="header">Phone number(Home)</div>
						<div class="description">
						<input type="text" class="form-control" ng-model="editdata.Contact.phone_home" placeholder="(02)0000-0000">
						</div>
					  </div>
					</div>
					<div class="item">
					  <i class="top aligned right triangle icon"></i>
					  <div class="content">
						<div class="header">Phone number(Mobile)</div>
						<div class="description">
						<input type="text" class="form-control" ng-model="editdata.Contact.phone_mobile" placeholder="0911-000-000">
						</div>
					  </div>
					</div>
					<div class="item">
					  <i class="top aligned right triangle icon"></i>
					  <div class="content">
						<div class="header">Phone number(Work)</div>
						<div class="description">
						<input type="text" class="form-control" ng-model="editdata.Contact.phone_work" placeholder="(02)0000-0000">
						</div>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
	</div>
	</div>
  
  </div>

</div>
</div>

				  

				 
				 
			</div>
			</div>




		
    </div>
  </div>
</div>
</div>