<div class="ui page grid" ng-init="init()">
  <div class="column">
    <div class="ui teal segment" >
    <div class="ui relaxed divided items post-item">
      <div class="item" ng-show="!filteruser.length">無資料</div>
      <div class="item" ng-repeat = "user in (filteruser = (users|filter:searchuser))" ng-click="select(user.member_id)">
        <div class="ui small image">
          <img src="{{user.photo}}">
        </div>
        <div class="content">
          <p class="header" id="title" ng-bind="user.account"></p>
          <div class="description" ng-bind="user.name"></div>
        </div>
      </div>
    </div>
    </div>
</div>
