/* COMMENTS
------------------------------*/

.ui.comments {
  max-width: 100%;
}

.ui.comments .comment {
  min-height: 50px;
}

/* MEMBER INFO
------------------------------*/

.ui.header .member-info {
  margin-top: 20px;
}

.ui.header .member-info .sub.header {
  font-size: 0.5em;
}

/* STYLE FIX
------------------------------*/

.post-item .item:hover {
  cursor: pointer;
  background-color: #EFEFEF;
}

.ui.divided.items > .item:first-child {
  margin: 0!important;
  padding: 1em 0!important;
}